@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
   --Very-dark-blue1: hsl(217, 54%, 11%);
   --Very-dark-blue: #12263f;
   --Very-darkblue: #91b1e2;
   --White: hsl(0, 0%, 100%);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Outfit', sans-serif;
   background-color: var(--Very-dark-blue1);
   color: var(--Very-darkblue);
}

.container {
   height: auto;
   width: 300px;
   background-color: var(--Very-dark-blue);
   margin: 0 auto;
   margin-top: 10%;
   padding: 20px;
   border-radius: 15px;
   margin-bottom: 20px;
}

.container__figure {

   height: 250px;
   width: auto;
   border-radius: 15px;
   background-image: url(/images/image-equilibrium.jpg);
   object-fit: cover;
   background-size: cover;
}



h1 {
   color: var(--White);
   font-size: 25px;
}

p {}

.container__data {
   display: flex;
   justify-content: space-between;
   margin: 20px 0 20px 0;
}

.container__ok {
   color: aqua;
}

hr {
   background-color: var(--Very-darkblue);
   height: 1px;
   width: 100%;
   margin-top: 10px;
   border: none;
   margin-bottom: 10px;
}

.container__avatar {
   width: 30px;
   height: 30px;
   border: white;
}

.container__ava {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.attribution {
   font-size: 11px;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}